<mat-nav-list>
    <div id="profile" class="profile-card">
        <div class="header">
            <h2>Avinash A. Kshirsagar</h2>
            <h4>avi.kshisagar@live.com</h4>
        </div>
        <!-- <img src="{{imageUrl}}" alt="Avinash"> -->
        <img src="assets/Images/MeTele.jpg" alt="Avinash">
    </div>


<mat-divider></mat-divider>

<h2 matSubheader>Pages</h2> 


<a mat-list-item routerLinkActive="ListItemActive" routerLink="/">Dashboard</a>
<a mat-list-item routerLinkActive="ListItemActive" routerLink="/posts">Posts</a>
<a mat-list-item routerLinkActive="ListItemActive" routerLink="/articles">Articles</a>

<mat-divider></mat-divider>

<h2 matSubheader>Tools</h2>

<a mat-list-item routerLinkActive="ListItemActive" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
        Contacts
</a>
<a mat-list-item routerLinkActive="ListItemAcive" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
</a>

<mat-divider></mat-divider>

</mat-nav-list>